/node_modules
/public/hot
/default_data
/public/storage
/public/usage/images/
/public/usage/demo/img/blog
/public/usage/demo/img/carousel
/public/usage/demo/img/contacts
/public/usage/demo/img/headers
/public/usage/demo/img/profile-pics
/public/usage/demo/img/widgets
/public/usage/demo/img/gallery
/public/usage/demo/img/flags
/public/usage/customer-assets/images
/storage/*.key
/vendor
/git
/dbdata
/default_data
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/Cxampphtdocsprojectstoragelogs
.ssh
.ssh.pub